<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Thêm môn học</title>
  <link rel="stylesheet" href="/view/css/style.css">
</head>
<body>
    <header>
    <h1>🎓 Hệ thống đăng ký môn học</h1>
    <p>Quản lý và đăng ký môn học </p>
  </header>
  <nav>
    <a href="trangchu.html">🏠 Trang chủ</a>
    <a href="courses.html">📚 Quản lý môn học</a>
    <a href="enroll.html">📝 Đăng ký môn</a>
  </nav>
<div class="container">
  <h2>📚 Thêm môn học</h2>

  <form id="form" class="form-card">
    <input placeholder="Mã môn" id="code" required>
    <input placeholder="Tên môn" id="name" required>
    <input placeholder="Giảng viên" id="teacher" required>

    <select id="type">
      <option>Lý thuyết</option>
      <option>Thực hành</option>
      <option>Lý thuyết + Thực hành</option>
    </select>

    <input type="number" id="capacity" placeholder="Sức chứa" required>

    <h4>📅 Lịch học</h4>
    <div id="schedule-container"></div>

    <button type="submit">Tạo môn học</button>
  </form>
</div>

<script src="/view/js/add-courses.js"></script>
</body>
</html>