<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Thêm môn học</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>

<h2>Thêm môn học</h2>

<form id="form">
  <input placeholder="Mã môn" id="code"><br>
  <input placeholder="Tên môn" id="name"><br>
  <input placeholder="Giảng viên" id="teacher"><br>

  <select id="type">
    <option>Lý thuyết</option>
    <option>Thực hành</option>
    <option>Lý thuyết + Thực hành</option>
  </select><br>

  <button type="submit">Tạo</button>
</form>

<script src="../js/add-course.js"></script>
</body>
</html>