<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Danh sách môn học</title>
  <link rel="stylesheet" href="/view/css/style.css">
</head>
<body>
    <header>
    <h1>🎓 Hệ thống đăng ký môn học</h1>
    <p>Quản lý và đăng ký môn học </p>
  </header>
  <nav>
    <a href="trangchu.html">🏠 Trang chủ</a>
    <a href="courses.html">📚 Quản lý môn học</a>
    <a href="enroll.html">📝 Đăng ký môn</a>
  </nav>
<h2>📚 Danh sách môn học</h2>

<button onclick="loadCourses()">🔄 Reload</button>

<div id="courseList"></div>

<script src="/view/js/courses.js"></script>
</body>
</html>