<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Sửa môn học</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>

<h2>Sửa môn học</h2>

<form id="form">

  <label>Mã môn học</label>
  <input id="code" disabled><br>

  <label>Tên môn</label>
  <input id="name" required><br>

  <label>Giảng viên</label>
  <input id="teacher" required><br>

  <label>Loại môn</label>
  <select id="type">
    <option value="Lý thuyết">Lý thuyết</option>
    <option value="Thực hành">Thực hành</option>
    <option value="Lý thuyết + Thực hành">Lý thuyết + Thực hành</option>
  </select><br>

  <label>Sĩ số tối đa</label>
  <input type="number" id="capacity" min="1" required><br>

  <h3>Lịch học</h3>

  <label>Hình thức</label>
  <select id="scheduleType">
    <option value="Lý thuyết">Lý thuyết</option>
    <option value="Thực hành">Thực hành</option>
  </select><br>

  <label>Thứ</label>
  <select id="day">
    <option>Thứ 2</option>
    <option>Thứ 3</option>
    <option>Thứ 4</option>
    <option>Thứ 5</option>
    <option>Thứ 6</option>
    <option>Thứ 7</option>
    <option>Chủ nhật</option>
  </select><br>

  <label>Giờ bắt đầu</label>
<input type="time" id="startTime" step="60"><br>

<label>Giờ kết thúc</label>
<input type="time" id="endTime" step="60"><br>

<p id="timeError" style="color:red;"></p>

  <label>Phòng học</label>
  <input id="location" required><br>

  <label>Trạng thái</label>
  <select id="status">
    <option value="Mở">Mở</option>
    <option value="Đóng">Đóng</option>
    <option value="Hủy">Hủy</option>
  </select><br><br>

  <button type="submit">Cập nhật</button>

</form>

<script src="../js/edit-course.js"></script>
</body>
</html>