<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Hệ thống đăng ký môn học</title>
  <link rel="stylesheet" href="/view/css/style.css">
</head>
<body>
  <header>
    <h1>🎓 Hệ thống đăng ký môn học</h1>
    <p>Quản lý và đăng ký môn học </p>
  </header>
  <nav>
    <a href="courses.html">📚 Danh sách môn học </a>
    <a href="add-courses.html">➕ Thêm môn</a>
    <a href="enroll.html">📝 Đăng ký môn</a>
  </nav>

  <main>
    <h2>Chào mừng bạn 👋</h2>
    <p>Chọn chức năng bên dưới để bắt đầu:</p>

    <div class="card-container">
      <div class="card">
        <h3>📚 Danh sách môn học</h3>
        <p>Xem, sửa, xóa môn học</p>
        <a href="courses.html">Đi tới</a>
      </div>

      <div class="card">
        <h3>➕ Thêm môn học</h3>
        <p>Tạo môn học mới</p>
        <a href="add-courses.html">Đi tới</a>
      </div>

      <div class="card">
        <h3>📝 Đăng ký môn</h3>
        <p>Đăng ký học phần</p>
        <a href="enroll.html">Đi tới</a>
      </div>
    </div>
  </main>
  <script src="/view/js/script.js"></script>
</body>
</html>